
html {   /*STICKY FOOTER -----> Very Important*/
    position: relative; 
    min-height: 100%;
}
body {
    background-image: url(../images/leaves-pattern.png);
    margin-bottom: 60px; /*STICKY FOOTER -----> Very Important*/
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.footer { /*STICKY FOOTER*/
    background-color: #666666;
    color: white;
    font-size: 10pt;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    border-top: 8px solid #4aaaa5;

}

.footer>.container { /*STICKY FOOTER*/
    background-color: #666666;
    border: none;
    text-align: center;
    width: auto;
    max-width: 600px;
    margin-top: 0;
    padding: 0;
    
}

.bumper { /*STICKY FOOTER -----> Very Important*/
    width: 100%;
    height: 20px;

}

.navbar { /*Header*/
    justify-content: space-around; /*Used this to allow the link section to center under my Name on small screen */
    padding: 0px;
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
}

.navbar>.container { /*Header*/
    padding: 0px;
    margin-top: 0px;
    border: none;

}

.navbar-brand { /*Header-Name*/
    padding: 20px;
    margin-right: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-weight: bold;

}

.navbar>.container>.navbar-brand {  /*Header-Name*/
    color: #ffffff;
    background-color: #4aaaa5;
   
}

.navbar>.navbar-brand:hover { /*Header-Name*/ /*Deleting bootstrap pre hover style*/
    color: #ffffff;
}

@media screen and (max-width: 640px) { /*Header-Name*/   /*Not sure what max width to set this to. It seems to not quite change at the value I expect...*/
    .navbar>.container>.navbar-brand {
        width: 100%;
        text-align: center;
    
    }
}

@media screen and (max-width: 640px) { /*Header-Links*/   /*Not sure what max width to set this to. It seems to not quite change at the value I expect...*/
    .navbar>.container>.nav {
        margin-left: auto;
        margin-right: auto;
    
    }
}

ul{ /*Header-Links*/
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link { /*Header-Links*/
    line-height: 20%;
}

li:nth-child(-n+2) { /*Header-Links*/
    border-right: 1px solid #dddddd;
}

.nav-item>a { /*Header-Links*/
    color: #777777;
}

.nav-item>a:hover { /*Header-Links*/
    color: #777777;
}

.container { 
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    align-content: center;
    max-width: 700px; /*I have no clue what to do here for the width.*/
}

.container-main { /*Main Content*/
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    align-content: center;
    max-width: 700px; /*I have no clue what to do here for the width.*/
}

@media screen and (max-width: 640px){
    .container-main{
        margin-left: 10%;
        margin-right: 10%;

}
}

@media screen and (max-width: 768px){
    .container-main{
        margin-left: 5%;
        margin-right: 5%;

}
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
}
}

@media screen and (max-width: 640px){
    .container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        
}
}

@media screen and (max-width: 640px){
    .navbar-brand{
        margin-left: 0;

}
}

@media screen and (max-width: 640px){
    .col-xs{
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (max-width: 640px){
    .container-main>.row>.col-xs>.box{
        width: 320px;
    
    }
    }


h1 { /*Main Content-Title*/
color: #4aaaa5;
border-bottom: 2px solid #dddddd;
padding-bottom: 20px;

}

form { /*Form*/
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;

}

.btn-primary { /*Form-Button*/
    background-color: #4aaaa5;
    border: none;
    border-radius: 0;
}

.btn-primary:hover { /*Form-Button*/
    background-color: #4aaaa5;
    border: none;
    border-radius: 0;
}

.btn-primary:not(:disabled):not(.disabled):active { /*Form-Button*/ /*I had to use this much specificity because I couldnt edit the active style otherwise*/
    background-color: #4aaaa5;
    border: none;
    border-radius: 0;
    box-shadow: none;

}

.btn-primary:focus { /*Form-Button*/
    background-color: #4aaaa5;
    border: none;
    border-radius: 0;
    box-shadow: none;
}


.box {
    display: inline-block; 
    margin: 15px;
    width: 237px;
    height: 237px;
    background-size: cover;
}

.box .title {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 180px;
    padding: 12px;
    font-size: 14pt;
}

.title>a { 
    color: #ffffff;
    padding: 15px 50px 15px 50px;
}

.title>a:hover { 
    color: #ffffff;
    text-decoration: none;
  
}

.asgardImg {
    background-image: url(../images/asgard.jpg);
}

.guyeImg {
    background-image: url(../images/guye.jpeg);
}

.stevenspassImg {
    background-image: url(../images/stevenspass.jpg);
}

.bakerImg {
    background-image: url(../images/baker.jpg);
}

.ranierImg {
    background-image: url(../images/ranier.jpg);
}

