.navbar {
    justify-content: space-around; /*Used this to allow the link section to center under my Name on small screen */
    padding: 0px;
    background-color: #ffffff!important; /*I didnt want to use important but I had to override bootstrap*/
    border-bottom: 2px solid #dddddd;
}
.navbar-brand {
    padding: 20px;
    margin-right: 0px;

}
.navbar>.navbar-brand {
    color: #ffffff;
    background-color: #4aaaa5;
}

.navbar>.navbar-brand:hover {
    color: #ffffff;
}
a {
    color: #777777;
}

a:hover {
    color: #777777;
}
@media screen and (max-width: 640px) {
    .navbar>.navbar-brand {
        width: 100%;
        text-align: center;
    
    }
}

